.ListItem {
  display: flex;
  width: 100%;
  padding: 5px;
}

.ListItemContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: inherit;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: 0.25s linear;
  transition-property: background-color, color;
}

.ListItemContainer.current {
  background-color: var(--header-text-color);
  color: var(--header-color);
}

.ListItemContainer:hover {
  background-color: var(--header-text-color);
  color: var(--header-color);
}

.ListItemIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.ListItem a {
  text-decoration: none;
  color: var(--header-text-color);
  width: 100%;
  margin: 0;
  padding: 0;
}

.ListText {
  font-size: 0.9em;
  padding-top: -4px;
  margin-left: 15px;
}
