.CarouselContainer {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 50vw;
  max-width: 100vw;
  margin-right: 15px;
  list-style: none;
}

.ImageSection {
  width: 50vw;
  max-height: 420px;

  position: relative;
  display: flex;

  overflow: hidden;
}

/* .ImageSection img {

} */

.Images {
  display: flex;

  max-width: 100%;
  width: 50vw;
  height: 420px;
}

.Images img {
  max-width: 100%;
  min-width: 100%;
  height: 420px;
  object-fit: cover;
}

.Thumbnails {
  display: flex;
  height: 80px;
  max-width: 100%;
  width: 50vw;
  overflow: hidden;
  margin-top: 2px;
}

.Thumbnails img {
  height: 80px;
  border: 1px solid #fff;
  object-fit: cover;
}

.LeftArrow,
.RightArrow {
  position: absolute;
  height: 100%;
  width: 45px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.65em;
  color: #ff4500;
  z-index: 20;
}

.LeftArrow {
  left: 0;
}

.RightArrow {
  right: 0;
}

.ImageSection svg {
  cursor: pointer;
  opacity: 0.65;
}

.ImageSection svg:hover {
  opacity: 1;
}

@media (max-width: 949px) {
  .CarouselContainer {
    width: calc(100vw - 90px);
  }

  .ImageSection {
    width: calc(100vw - 90px);
    max-height: 420px;
    overflow: hidden;
  }

  .ImageSection img {
    max-width: 100vw;
    min-width: calc(100vw - 90px);
    height: 420px;
    object-fit: cover;
  }

  .Thumbnails {
    display: flex;
    height: 80px;
    max-width: 100%;
    width: calc(100vw - 90px);
    overflow: hidden;
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  .CarouselContainer {
    width: calc(100vw - 30px);
  }

  .ImageSection {
    width: calc(100vw - 30px);
    max-height: 220px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .ImageSection img {
    max-width: 100vw;
    min-width: calc(100vw - 30px);
    height: 220px;
    object-fit: cover;
  }

  .Thumbnails {
    display: none;
  }
}
