.SettingsContainer {
  position: fixed;
  right: 2px;
  top: 40px;
  background-color: var(--header-color);
  opacity: 0.85;
  width: 220px;
  height: 200px;
  z-index: 100;
  color: var(--header-text-color);
  padding: 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: -3px 2px 5px black;
  display: flex;
  flex-flow: column nowrap;

  .SettingItem {
    display: flex;
    height: max-content;
    padding: 12px 0;
    justify-content: space-between;
    font-size: 0.85em;
    border-bottom: 1px solid var(--header-text-color);
  }
}

@media (max-width: 600px) {
  .HeaderMenuSwitch {
    display: none;
  }
}
