.App {
  max-width: 100vw;
  display: flex;
  flex-flow: column;
  margin-top: 35px;
  align-items: center;
  padding: 10px 350px;
  position: relative;
  background-color: var(--dark-mode);
  min-height: calc(100vh - 235px);
  overflow-x: hidden;
}

@media (max-width: 1560px) {
  .App {
    padding: 8px 180px;
  }
}

@media (max-width: 970px) {
  .App {
    padding: 8px 10px;
  }
}
